@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Macondo&family=Montserrat:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
*::selection {
    background-color: none;
    color: #456fe5;
}

:root {
    --for-word: #ffffff;
    --body: #1d2a35;
    --for-spesh: #1ebe6e;
    --for-addition: #05ff82;
}

.tmode {
    --for-word: #212529;
    --body: #ffffff;
    --for-spesh: #1ebebe;
    --for-addition: #07fcfc;
}

body {
    background-color: var(--body);
}


/* styling for scrollbar  */
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #41464b, #b41699,#ffdf4a);
}

/* the h2 of all page  */
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--for-spesh);
}
h2 ion-icon {
    font-size: larger;
    margin-right: 10px;
}
h2 span {
    color: var(--for-word);
}

/* start contain of all header of page */
.containAllAbove {
    width: 100%;
    min-height: 80vh;
    background-color: #41464b;
    display: flex;
    flex-direction: row;

    position: relative;
}


/* color mode  */
.colorMode {
    position: absolute;
    left: 6%;
    top: 5%;
    color: var(--for-spesh);
    font-size: 40px;
    border-radius: 50%;
    width: 50px;
    background: #363d44;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px black, inset 0 0 4px black;
}
.colorMode::before {
    content: "Mode Color";
    position: absolute;
    left: 60px;
    top: 0;
    text-shadow: 0 0 12px;
    color: #363d44;
    transition: 0.4s;
    font-size: 15px;
    width: 100px;
}
.colorMode:hover::before {
    color: var(--for-addition);
}

.colorMode ion-icon {
    filter: drop-shadow(0px 0px 4px black);
    transition: 0.4s;
}
.colorMode:hover ion-icon {
    filter: drop-shadow(0px 0px 20px var(--for-addition));
    color: var(--for-addition);
}

/* Location Button  and  Fire Button */
.containAllAbove .FireBtn {
    right: 10%;
}
.containAllAbove .FireBtn::before {
    content: "Fire";
    position: absolute;
    left: 0;
    top: 40px;
    text-shadow: 0 0 12px;
    color: #363d44;
    transition: 0.4s;
    font-size: 13px;
    width: 100px;
}
.containAllAbove .FireBtn:hover::before {
    color: var(--for-addition);
}

.FireBtn , .LocationBtn {
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: var(--for-spesh);
    font-size: 40px;
    border-radius: 50%;
    width: 30px;
    background: #363d44;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px black, inset 0 0 4px black;
}
.FireBtn ion-icon, .LocationBtn ion-icon {
    filter: drop-shadow(0px 0px 4px black);
    transition: 0.4s;
}
.FireBtn:hover ion-icon, .LocationBtn:hover ion-icon {
    filter: drop-shadow(0px 0px 20px var(--for-addition));
    color: var(--for-addition);
}

.containAllAbove .LocationBtn::before {
    content: "Location";
    position: absolute;
    left: -10px;
    top: 40px;
    text-shadow: 0 0 12px;
    color: #363d44;
    transition: 0.4s;
    font-size: 13px;
    width: 100px;
}
.containAllAbove .LocationBtn:hover::before {
    color: var(--for-addition);
}

/* header start  */
header {
    padding: 1.3rem;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 12px black, inset 0 0 12px black;
    border-radius: 5px;
}

header .contentHeader {
}
header .ulHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0%;
    gap: 25px;
}
header .ulHeader li {
    list-style: none;
}
header .ulHeader li a {
    text-decoration: none;
    color: var(--for-spesh);
    font-size: 25px;
    text-shadow: 0 0 12px black;
    transition: 0.4s;
}
header .ulHeader li a:hover {
    text-shadow: 0 0 25px;
    color: var(--for-addition);
}

/* double head contact  */
.headCont {
    padding: 1.3rem;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 12px black, inset 0 0 12px black;
    border-radius: 5px;
}

.headCont .contentHeader {
}
.headCont .contentHeader ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0%;
    gap: 10px;
}
.headCont .contentHeader ul li {
    list-style: none;
}
.headCont .contentHeader ul li a {
    text-decoration: none;
    font-size: 40px;
    color: var(--for-spesh);
    transition: 0.4s;
}
.headCont .contentHeader ul li a ion-icon {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.678));
    transition: 0.4s;
}
.headCont .contentHeader ul li a:hover ion-icon {
    filter: drop-shadow(0px 0px 20px var(--for-addition));
    color: var(--for-addition);
}

/* header end  */


/* ownImg start  */
.containAllAbove .ownImg {
    z-index: 2;
    position: absolute;
    top: 25%;
    right: 9%;
    width: 345px;
    height: 286px;
}
.containAllAbove .ownImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ownImg end  */


/* titling start  */
.containTit {
    background-color: #41464b;
}
.titling {
    z-index: 5;
    padding: 3rem;
    background: #212529;
    clip-path: polygon(30% 0, 100% 0, 84% 18%, 84% 70%, 70% 100%, 50% 100%, 0 100%, 15% 70%, 15% 32%, 15% 15%);

    color: var(--for-word);
    height: 100%;
}

.titling .infTit {
    position: absolute;
    top: 20%;
    left: 20%;
    max-width: 550px;
    color: var(--for-back);
    background: var(--body);
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
    animation: OpacTalkUp 15s infinite;
}
@keyframes OpacTalkUp {
    50%, 80% {
        opacity: 0;
        visibility: hidden;
    }
    0%, 47%, 84% {
        opacity: 1;
        visibility: visible;
    }
}
.titling .infTit::before {
    content: "";
    position: absolute;
    right: -9%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    background: inherit;
    clip-path: polygon(23% 54%, 46% 67%, 73% 60%, 100% 37%, 88% 75%, 61% 96%, 36% 96%, 0 100%, 0% 35%, 0 14%);
}

.titling .infTit h3 {
    color: var(--for-spesh);
}

.titling .imgTit {
    width: 350px;
    height: 265px;
    position: absolute;
    background: #41464b;
    border-radius: 35%;
    display: flex;
    right: 8%;
    top: 20%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    animation: MoveMy 15s infinite;
}
.titling .imgTit img {
    width: 95%;
    height: 95%;
    border-radius: 35%;
    object-fit: cover;
}
@keyframes MoveMy {
    48% { right: 11%; }
    50%, 80% { right: -40%; }
    82% { right: 11%; }
    0%, 47%, 84% { right: 8%; }
}

.titling .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animatingStar 8s ease-in-out infinite,
                backgroundMove 16s linear infinite;
}
.titling .star.star1 {
    background: url(./assets/stars/star1.png);
    animation-delay: 0s;
}
.titling .star.star2 {
    background: url(./assets/stars/star2.png);
    animation-delay: -1s;
}
.titling .star.star3 {
    background: url(./assets/stars/star3.png);
    animation-delay: -2s;
}
.titling .star.star4 {
    background: url(./assets/stars/star4.png);
    animation-delay: -3s;
}
.titling .star.star5 {
    background: url(./assets/stars/star5.png);
    animation-delay: -4s;
}
.titling .star.star6 {
    background: url(./assets/stars/star6.png);
    animation-delay: -5s;
}
.titling .star.star7 {
    background: url(./assets/stars/star7.png);
    animation-delay: -6s;
}
.titling .star.star8 {
    background: url(./assets/stars/star8.png);
    animation-delay: -7s;
}

@keyframes animatingStar {
    0%, 20%, 40%, 60%, 80%, 100% {
        opacity: 0;
    }
    10%, 30%, 50%, 70%, 90% {
        opacity: 1;
    }
}
@keyframes backgroundMove {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}



.titling .infTit .btns {
    /* position: relative; */
}

.titling .infTit .hireBtn {
    border: none;
    border-radius: 10px;
    background-color: var(--for-addition);
    color: var(--for-word);
    transition: 0.4s;
}

.titling .infTit .cvBtn {
    border: none;
    border-radius: 10px;
    background-color: var(--for-addition);
    color: var(--for-word);
    transition: 0.4s;
}

.titling .infTit .hireBtn:hover {
    background-color: var(--for-word);
    color: var(--for-addition);
}
.titling .infTit .cvBtn:hover {
    background-color: var(--for-word);
    color: var(--for-addition);
}


.titling .infTit button a {
    text-decoration: none;
    color: var(--for-word);
}
.titling .infTit button:hover a {
    color: var(--for-spesh);
}
.titling .infTit .hireBtn ion-icon {
    display: none;
}

.titling .infTit .cvBtn ion-icon {
    display: none;
}

.titling .infTit .hireBtn.floating {
    border-radius: 50%;
    position: fixed;
    width: 50px;
    left: 35px;
    height: 45px;
    bottom: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 6px #000;
    animation: ballWater 3s ease-in-out 3s infinite ;
}
.titling .infTit .hireBtn.floating a {
    display: none;
}
.titling .infTit .hireBtn.floating ion-icon {
    display: block;
    font-size: 20px;
    text-align: center;
}
.titling .infTit .hireBtn.floating:hover {
    animation: none;
}

.titling .infTit .cvBtn.floating {
    border-radius: 50%;
    position: fixed;
    width: 50px;
    left: 100px;
    height: 45px;
    bottom: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 6px #000;
    animation: ballWater 3s ease-in-out 3s infinite ;
}
.titling .infTit .cvBtn.floating a {
    display: none;
}
.titling .infTit .cvBtn.floating ion-icon {
    display: block;
    font-size: 20px;
    text-align: center;
}

.titling .infTit .cvBtn.floating:hover {
    animation: none;
}

@keyframes ballWater {
    42%  {bottom: 20px;}
    50%  {bottom: 40px;}
    60%  {bottom: 20px;}
    72%  {bottom: 20px;}
    80%  {bottom: 40px;}
    90% {bottom: 20px;}
    100%  {bottom: 20px;}
}

.titling .infTit button .toolMsg {
    position: absolute;
    bottom: 0px;
    left: -4px;
    background-color: var(--for-spesh);
    padding: 10px;
    transform: translateY(0);
    opacity: 0;
    transition: 0.7s;
    color: var(--for-back);
    border-radius: 4px;
    width: 80px;
}
.titling .infTit .hireBtn.floating:hover .toolMsg {
    opacity: 1;
    transform: translateY(-126%);
}
.titling .infTit .cvBtn.floating:hover .toolMsg {
    opacity: 1;
    transform: translateY(-80%);
}
.titling .infTit button .toolMsg::before {
    content: "";
    position: absolute;
    background-color: var(--for-spesh);
    bottom: -7px;
    left: 38%;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}
/* titling end  */


/* part of up to make it full  */
.partUp {
    background-color: #41464b;
    box-shadow: inset 0px -11px 10px black;
    width: 100%;
    z-index: -5;
    height: 100px;
}



/* Start Location Box  */
.contentLoc {
    background-color: #41464b;
    transform-origin: top;
    transform: scaleY(0);
    position: absolute;
    opacity: 0;
    width: 100%;
    min-height: 350px;
    visibility: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 0.4s;
    box-shadow: inset 0 0 8px;
}
.contentLoc.active {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
    position: static;
}

.contentLoc .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* .contentLoc .card-header h3 {
    color: var(--for-spesh);
    text-shadow: 0 0 10px black;
    transition: 0.4s;
    animation: LightLoc 5s linear infinite;
}
@keyframes LightLoc {
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: var(--for-spesh);
        text-shadow: none;
    }
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: var(--for-addition);
        text-shadow: 0 0 10px var(--for-addition), 0 0 20px var(--for-addition), 0 0 40px var(--for-addition),
        0 0 80px var(--for-addition), 0 0 160px var(--for-addition);
    }
} */
.contentLoc .card-header .closeLocation {
    color: var(--for-spesh);
    filter: drop-shadow(0px 0px 4px black);
    font-size: 30px;
    transition: 0.4s;
}
.contentLoc .card-header .closeLocation:hover {
    color: var(--for-addition);
    filter: drop-shadow(0px 0px 15px var(--for-addition));
}

.contentLoc .card-body {
    height: 500px;
}
.contentLoc .card-body .mapBox {
    padding: 1.3rem;
    box-shadow: 0 0 12px black, inset 0 0 12px black;
    border-radius: 5px;
    height: 100%;
}
.contentLoc .card-body .mapBox iframe {
    width: 100%;
    height: 100%;
    filter: invert(100%);
}

/* End Location Box  */


/* Start About Us  */
.containBoxUs {
    background: url(./assets/imageKav/rog-wallpaper-design-on-behance.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: bottom;
    padding: 5rem;
}

.aboutContent {
    background-color: transparent;
    max-height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.aboutContent .imgInfo {
    height: 340px;
}
.aboutContent .imgInfo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aboutContent .myInfo {
    color: var(--for-word);
    max-width: 550px;
    border-radius: 5px;
    background: var(--body);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    position: relative;
}

.aboutContent .myInfo .imgGl {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 5%;
    top: -15px;
    border-radius: 50%;
    background: url(./assets/owner2.jpg);
    background-size: 100%;
    border: 5px solid #011f74;
}
.aboutContent .myInfo .imgGl::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url(./assets/owner2.jpg);
    background-size: 100%;
    opacity: 0.5;
    mix-blend-mode: hard-light;
}
.aboutContent .myInfo .imgGl:hover::before {
    animation: glitchAnim 0.2s linear infinite;
}
@keyframes glitchAnim {
    0% {
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    10% {
        background-position: 5px 0;
    }
    20% {
        background-position: -5px 0;
    }
    30% {
        background-position: 15px 0;
    }
    40% {
        background-position: 5px 0;
    }
    50% {
        background-position: -25px 0;
    }
    60% {
        background-position: -50px 0;
    }
    70% {
        background-position: 0 -20px;
    }
    80% {
        background-position: -60px -20px;
    }
    81% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 0;
        filter: hue-rotate(360deg);
    }
}

.aboutContent .myInfo h3 {
    font-weight: 600;
}
.aboutContent .myInfo p span {
    font-weight: 600;
    font-size: 1.3em;
    color: var(--for-spesh);
}

.aboutContent .myInfo .inf {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.aboutContent .myInfo .inf p {
    flex: 1 0 50%;
}
.aboutContent .myInfo .inf span {
    color: var(--for-addition);
    font-size: 13px;
}
/* End About Us  */

/* Start Moving Skills  */
.contentTeckSkills {
    background: transparent;
    width: 100%;
    color: var(--for-word);
}

.staticSkills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    gap: 5rem;
}
.staticSkills .boxS {
    background: url(https://studio.code.org/v3/assets/BPlVtb4JtsQ8ctmYwj7FNleFFG7JTeldTQmsHt7pz68/goldCoin.gif);
    background-position-x: 47%;
    background-position-y: 47%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.4s;
    animation: FloatingBS 1s ease-in-out infinite alternate;
    position: relative;
}
.staticSkills .boxS.yet::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.493);
    z-index: 3;
    border-radius: 50%;
}
.staticSkills .boxS.yet::after {
    content: "Not Yet";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: var(--for-addition);
    z-index: 4;
    text-align: center;
    font-weight: 900;
}
.staticSkills .boxS:nth-child(even) {
    animation: FloatingRevBS 1s ease-in-out infinite alternate;
}
.staticSkills .boxS:hover {
    animation-play-state: paused;
    box-shadow: 0 0 30px var(--for-addition);
}
@keyframes FloatingRevBS {
    100% {
        transform: translateY(-10px);
    }
}
@keyframes FloatingBS {
    100% {
        transform: translateY(10px);
    }
}
.staticSkills .boxS .imgBox {
    display: block;
    width: 35px;
    height: 35px;
}
.staticSkills .boxS .imgBox img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.staticSkills .boxS p {
    color: #dc3535;
    font-weight: 600;
    font-size: 13px;
}


.movingSkills {
    position: relative;
    transition: 1s;
}

.movingSkills .teckSkill {
    transform-style: preserve-3d;
    padding: 1.5rem;
}
.movingSkills .teckSkill h5 {
    color: var(--for-spesh);
    font-weight: 600;
    font-family: var(--font-bold);
}
.movingSkills .teckSkill p {
    padding-left: 6rem;
    margin: 0;
    color: var(--for-word);
}

.containerTeckSkill {
    width: 100%;
    background-color: #e1e1e1;
    height: auto;
    padding: 10px;
}

.skills {
    text-align: center;
    padding-bottom: 10px;
    color: var(--for-addition);
    font-size: 0.9em;
    background-image: linear-gradient(45deg, #6d6fd5, #0d6efd);
    height: 20px;
    transition: 1.2s;
}


.movingSkills .proSkills {
    transform-style: preserve-3d;
    padding: 1.5rem;
}
.movingSkills .proSkills h3 {
    text-align: center;
    color: var(--for-spesh);
    font-weight: 600;
    font-family: var(--font-bold);
}

/* here contain circles */
/* .movingSkills .proSkills .containCircles {
} */

/* .skill {
    width: 95px;
    height: 90px;
    position: relative;
}
.outher {
    width: 95px;
    height: 90px;
    border-radius: 50%;
    padding: 14px;
}
.inner {
    width: 65px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                1px 2px 0px rgb(255 255 255),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#number {
    color: var(--for-word);
    font-weight: 600;
}
#CirOne {
    fill: none;
    stroke: #456fe5;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    transition: 1.4s;
}
#svgCir {
    position: absolute;
    top: 0;
    left: 0;
}


.nameCir {
    text-align: center;
    font-weight: 600;
    color: var(--for-spesh);
}

#CirTwo {
    fill: none;
    stroke: #456fe5;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    transition: 1.4s;
}


#CirThre {
    fill: none;
    stroke: #456fe5;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    transition: 1.4s;
}

#CirFour {
    fill: none;
    stroke: #456fe5;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    transition: 1.4s;
} */
/* the Cycles End  */

/* End Moving Skills  */

/* Start Education Box */
.educationBox {
    background: #41464b;
    width: 100%;
    min-height: 300px;
    padding: 2rem;
    box-shadow: inset 0 0 8px;
}
.educationBox .header p {
    color: var(--for-spesh);
    text-align: center;
}

.educationBox .restCollege {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.educationBox .restCollege .glitchBox {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--body);
    margin: 1rem;
    display: flex;
    align-items: center;
    transition: 0.4s;
    border-radius: 5px;
}
.educationBox .restCollege .glitchBox:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.educationBox .restCollege .glitchBox .imgBox {
    width: 250px;
    height: 100%;
    border-radius: 5px;
}
.educationBox .restCollege .glitchBox .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.educationBox .restCollege .glitchBox .infBox {
    padding: 1rem;
    flex: 1 1;
    font-weight: 600;
}
.educationBox .restCollege .glitchBox .infBox h5 {
    color: #dc3535;
}
.educationBox .restCollege .glitchBox .infBox p {
    color: var(--for-word);
    font-weight: 400;
}
.educationBox .restCollege .glitchBox .infBox span {
    color: #237e51;
}

.educationBox .restCollege .imgStudy {
    flex: 1 1;
    border-radius: 7px;
}
.educationBox .restCollege .imgStudy img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
/* End Education Box */

/* Start Projects  */
.projectsCap {
    width: 100%;
    min-height: 400px;
}
.projectsCap .container {
    height: 100%;
}
.projectsCap .container .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--for-spesh);
    font-weight: 600;
    padding: 1.5rem;
}

.projectsCap .container .btn {
    display: flex;
    justify-content: center;
}
.projectsCap .container .btn a {
    text-decoration: none;
    color: var(--for-word);
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid var(--for-addition);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.4s;
}
.projectsCap .container .btn a ion-icon {
    position: relative;
    transition: 0.4s;
    right: 0%;
    margin-left: 10px;
}
.projectsCap .container .btn a:hover ion-icon {
    right: -10%;
}
/* .projectsCap .container .head .btChange {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
.projectsCap .container .head .btChange a {
    text-decoration: none;
    color: var(--for-spesh);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: 0.4s;
}
.projectsCap .container .head .btChange a:hover {
    box-shadow: 0 0 15px var(--for-addition);
}
.projectsCap .container .head .btChange a.active {
    box-shadow: 0 0 30px var(--for-addition);
    color: var(--for-addition);
} */


/* .projectsCap .sliderProjects {
    height: 100%;
    display: none;
}
.projectsCap .sliderProjects.active {
    display: block;
}
.projectsCap .sliderProjects #bigSlider {
    height: 100%;
}
.sliderProjects #bigSlider .carousel-inner {
    height: 100%;
    box-shadow: 0 0 12px black;
    border-radius: 5px
}
.sliderProjects #bigSlider .carousel-inner .carousel-item {
    height: 100%;
}
.sliderProjects #bigSlider .carousel-inner .carousel-item a {
    color: unset;
    text-decoration: none;
}
.sliderProjects #bigSlider .carousel-inner .carousel-item .carousel-caption {
    color: var(--for-addition);
    background: #212529;
}
.sliderProjects #bigSlider .carousel-inner .carousel-item img {
    width: 100% !important;
    height: 85% !important;
} */


.projectsCap .testGrill {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}
/* .projectsCap .testGrill.active {
    display: flex;
} */

.projectsCap .testGrill .proBox {
    position: relative;
    flex: 1 0 400px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
}
.projectsCap .testGrill .proBox:hover .bodyCard {
    top: 0%;
}

.projectsCap .testGrill .proBox .mainCard .imgProB {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.projectsCap .testGrill .proBox .mainCard .imgProB img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectsCap .testGrill .proBox .bodyCard {
    position: relative;
    transition: 0.4s;
    top: 75%;
    width: 100%;
    height: 100%;
    background-color: var(--body);
    z-index: 20;
    color: var(--for-word);
}
.projectsCap .testGrill .proBox .bodyCard .title {
    padding: 1rem;
    background-color: #222222;
    color: var(--for-addition);
    text-align: start;
}
.projectsCap .testGrill .proBox .bodyCard p {
    padding: 1rem;
    color: var(--for-word);
    text-align: start;
}
.projectsCap .testGrill .proBox .bodyCard .btnsCard {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
.projectsCap .testGrill .proBox .bodyCard .btnsCard a {
    text-decoration: none;
    color: var(--for-word);
    background-color: var(--for-addition);
    padding: 7px 15px;
    display: flex;
    align-items: center;
    transition: 0.4s;
}
.projectsCap .testGrill .proBox .bodyCard .btnsCard a:hover {
    color: var(--for-addition);
    background-color: var(--for-word);
}
.projectsCap .testGrill .proBox .bodyCard .btnsCard a ion-icon {
    margin-right: 10px;
    font-size: inherit;
}

/*
.projectsCap .Gap {
    display: none;
}
.projectsCap .Gap.active {
    display: block;
} */

/* End Projects  */

.hrPC {
    width: 100%;
    position: relative;
    background-color: #000000;
    height: 1px;
}
.hrPC::before {
    content: "";
    background: url(./assets/Icons/stars-icon.png);
    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 20px;
    background-size: contain;
    z-index: 4;
}
.hrPC::after {
    content: "";
    background: var(--body);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    z-index: 2;
}

/* Start Contact Touch */
.contactTouch {
    background: url(https://64.media.tumblr.com/75ee871c3c70501014511f527b342213/74bb6bc1ad2987d5-a1/s1280x1920/ae89e529ec10b97daff14c6aa3db56e663fbe416.gifv);
    background-size: cover;
    width: 100%;
    min-height: 400px;
    padding: 1rem;
}
.contactTouch .contentTouch {
    padding: 3rem;
    padding-left: 0;
}
.contactTouch h2 {
    background: var(--body);
    border-radius: 5px;
    padding: 10px;
}

.contactTouch .contentTouch .contactBox {
    padding: 2rem;
    background-color: var(--body);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    max-width: 450px;
    border-radius: 5px;
}
.contactTouch .contentTouch .contactBox .inputBox {
    width: 100%;
    position: relative;
}
.contactTouch .contentTouch .contactBox .inputBox input ,
.contactTouch .contentTouch .contactBox .inputBox textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid rgb(53, 53, 53);
    background: var(--body);
    border-radius: 5px;
    color: var(--for-word);
    font-size: 1em;
    transition: 0.4s;
}
.contactTouch .contentTouch .contactBox .inputBox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 10px;
    color: var(--for-word);
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.4s;
}
.contactTouch .contentTouch .contactBox .inputBox input:focus ~ span,
.contactTouch .contentTouch .contactBox .inputBox input:valid ~ span,
.contactTouch .contentTouch .contactBox .inputBox textarea:valid ~ span,
.contactTouch .contentTouch .contactBox .inputBox textarea:focus ~ span {
    color: var(--for-addition);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--body);
    letter-spacing: 0.2em;
    border-radius: 5px;
}
.contactTouch .contentTouch .contactBox .inputBox input:focus ,
.contactTouch .contentTouch .contactBox .inputBox textarea:focus {
    border: 1px solid var(--for-addition);
}

.contactTouch .contentTouch .contactBox #subCont {
    outline: none;
    padding: 8px 15px;
    background: var(--for-addition);
    color: var(--for-word);
    transition: 0.4s;
    border: none;
    border-radius: 5px;
}
.contactTouch .contentTouch .contactBox #subCont:hover {
    background: var(--for-word);
    color: var(--for-addition);
}
/* End Contact Touch */

/* Start Footer  */
.windowContent .upCon {
    width: 100%;
    min-height: 150px;
    background-color: #41464b;
    box-shadow: inset 0 0 12px;
}
.windowContent .downCon {
    width: 100%;
    min-height: 150px;
    background-color: #41464b;
    box-shadow: inset 0 0 12px;
}
.windowContent .imging {
    width: 100%;
    background: url(https://i.pinimg.com/originals/a3/c3/77/a3c3776b73f2ac4aa70ba7db2a5f66f6.gif);
    min-height: 100px;
    background-size: initial;
    background-position: right;
}

footer {
    width: 100%;
    background: #41464b;
    box-shadow: inset -1px -4px 10px black;
    color: var(--for-word);
}

footer .main {
    color: var(--for-word);
}
footer .main .rowingK .contentMain h4 {
    color: var(--for-spesh);
    text-shadow: 0 0 4px black;
}
footer .main .rowingK .contentMain h4 span {
    color: var(--for-addition);
}

footer .main .rowingK .contentQuick {
    color: var(--for-word);
}
footer .main .rowingK .contentQuick ul li a {
    color: var(--for-word);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
footer .main .rowingK .contentQuick ul li a:hover {
    color: var(--for-addition);
    text-shadow: 0 0 12px var(--for-addition);
}
footer .main .rowingK .contentQuick ul li a ion-icon {
    margin-right: 10px;
    font-size: inherit;
}

footer .main .rowingK .contentConact {
    color: var(--for-word);
}
footer .main .rowingK .contentConact ul li a {
    color: var(--for-word);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
footer .main .rowingK .contentConact ul li a ion-icon {
    margin-right: 10px;
    font-size: inherit;
}

footer .copyFoot {
    color: var(--for-word);
}
footer .copyFoot a {
    color: var(--for-spesh);
}

/* End Footer   */




/* Go Media Settings  */

@media (max-width: 1280px) {
    body .titling .imgTit {
        right: 35%;
        top: -3%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        animation: none;
    }
    body .titling .imgTit img {
        border-radius: 50%;
    }

    body .titling .infTit::before {
        content: unset;
    }
    body .titling .infTit {
        animation: none;
    }

    body header {
        display: none;
    }
    body .headCont {
        display: none;
    }
}

@media (max-width: 1024px) {
    /* in home part  */
    body .colorMode {
        width: 35px;
        height: 35px;
    }
    body .colorMode::before {
        font-size: 12px;
        left: -38%;
        top: -50%;
    }

    body .containAllAbove .FireBtn {
        right: 15%;
    }

    /* in about us part  */
    body .aboutContent .imgInfo {
        display: none;
    }

    /* in project part  */
    body .projectsCap .testGrill {
        justify-content: center;
    }
}


@media (max-width: 600px) {
}

@media (max-width: 414px) {
    /* Global for all  */
    h2 {
        font-size: 20px;
        justify-content: flex-start;
    }

    /* in home part  */
    body .titling .infTit {
        font-size: 12px;
        max-width: 250px;
    }
    body .titling .infTit h3 {
        font-size: 13px;
    }

    /* in about us part  */
    body .aboutContent .myInfo {
        font-size: 12px;
    }

    body .aboutContent .myInfo .imgGl {
        top: -30px;
    }
}